=font-body($weight: normal, $style: normal)
  font-family: 'input-mono', monospace
  @if $weight == bold
    font-weight: 700
  @else
    font-weight: 400
  font-style: normal


// ----------------------------------------------------------------------------

body
  +font-body
  font-size: 16px
  line-height: 1em
