// TODO: Scope
.bvg
  margin-top: 3rem
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: stretch
  height: 100%

  .address
    display: none

  .map
    position: absolute
    z-index: -1
    width: 100%
    height: 100%
    top: 0
    background: $black
    transform: translate3d(30%, 0, 0)

    &:before
      content: ""
      position: absolute
      z-index: 1
      left: -1%
      right: 0
      width: 40%
      height: 101%
      background: linear-gradient(90deg, $black, transparentize($black, 1))

  .station
    flex-grow: 1
    position: relative
    margin-bottom: 4rem
    z-index: 10
    position: relative

    h2
      font-size: 1rem
      padding: 0 0 1rem 0

      & > span
        float: left

      small
        display: block
        font-size: 0.75rem
        +font-body(normal)
        float: right
        max-width: 50%

    .departure-list
      margin-top: 0.75rem
      clear: both

    .walking-duration
      background: #D0011B
      opacity: 0.2
      z-index: 0
      position: absolute
      right: 0
      top: 0
      bottom: 0
      transition: width 0.5s ease-in-out

    .departures
      position: relative

      &::after
        content: ""
        display: block
        position: absolute
        right: 0.15rem
        top: 0.1rem
        bottom: 0.1rem
        z-index: 999
        width: 0.15rem

    &.pending .departures::after
      background: white
    &.succeeded .departures::after
      background: green
    &.failed .departures::after
      background: red

  .departure
    overflow: hidden
    height: 2.5em
    position: relative

    .line
      background: $white
      color: $black
      width: 2.25rem
      height: 1.25rem
      line-height: 1.35rem
      text-align: center
      position: absolute
      left: 0
      z-index: 5
      top: 0.625rem
      font-size: 0.875rem
      font-weight: bold

      &.bus
        background: #95276E
        color: $white

      &.tram
        background: #F8E81C

      &.s1
        background: rgb(214, 93, 153)
        color: $white

      &.subway
        border-radius: 0.3125rem
        color: $white
      &.u1
        background: #7dad4c
      &.u2
        background: #FF6009
      &.u3
        background: #16683D
      &.u4
        background: #F0D722
      &.u5
        background: #7E5330
      &.u55
        background: #7E5330
      &.u6
        background: #8C6DAB
      &.u7
        background: #528DBA
      &.u8
        background: #224F86
      &.u9
        background: #F3791D

      &.ferry
        background: #528DBA
        color: $white

  .progress
    position: absolute
    height: 100%
    top: 0
    left: 2.25rem
    right: 10rem

    .position
      position: absolute
      height: 100%
      top: 0
      transition: right 0.5s ease-in-out

      .actual
        background: $white
        position: absolute
        width: 0.5rem
        height: 0.5rem
        top: 1rem
        left: 0
        border-radius: 0.25rem
        transform: translateX(-0.25rem)

      .label
        font-size: 0.625rem
        position: absolute
        text-align: right
        height: 1rem
        line-height: 1rem
        top: 0.75rem
        right: 100%
        transform: translateX(-1rem)

        .delay
          display: none

      .delta
        display: none

      .scheduled
        display: none

    .track
      background: #D8D8D8
      opacity: 0.05
      z-index: 0
      position: absolute
      width: 100%
      height: 0.125rem
      top: 1.1875rem

  .direction
    padding: 0 1rem
    background: #ccc
    position: absolute
    right: 0
    top: 0
    bottom: 0
    width: 10rem
    color: $black
    font-size: 0.5rem
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    line-height: 2.5rem
    box-sizing: border-box
    +font-body(bold)

    &:before
      content: ""
      background: $black
      z-index: 0
      position: absolute
      width: 0.5rem
      left: 0
      height: 0.125rem
      top: 1.1875rem

  .departure
    position: relative

    &::after
      content: ""
      display: block
      position: absolute
      z-index: 1
      width: 36px
      top: 0
      bottom: 0
      box-shadow: 0 0 40px $black

    &.delayed
      .progress
        .position
          .label
            .delay
              margin-left: 0.5rem
              display: inline

          .delta
            display: block
            background: #D0011B
            opacity: 0.33
            z-index: 0
            position: absolute
            width: 100%
            left: 0
            height: 0.125rem
            top: 1.1875rem

          .scheduled
            display: block
            background: $black
            border: 1px solid $white
            box-sizing: border-box
            position: absolute
            width: 0.5rem
            height: 0.5rem
            top: 1rem
            right: 0
            border-radius: 0.25rem
            transform: translateX(0.25rem)

    &.early
      .progress
        .position
          // transform: translateX(-100%)

          .actual
            right: 0
            left: auto
            transform: translateX(0.25rem)

          .scheduled
            left: 0
            right: auto
            transform: translateX(-0.25rem)

          .label
            .delay
              color: #7ED321

          .delta
            background: #7ED321

    &.late
      .progress
        .position
          transform: translateX(100%)

          .label
            .delay
              color: #D0011B

    &.not-reachable
      .line
        opacity: 0.2

      .progress
        .position
          .label
            opacity: 0.5

      .track
        background: #D0011B



// TODO: dedup with news

.departure-enter
  opacity: 0.01
.departure-enter.departure-enter-active
  opacity: 1
  color: green
  transition: opacity 500ms ease-in

.departure-leave
  opacity: 1

.departure-leave.departure-leave-active
  opacity: 0.01
  transition: all 200ms ease-out
  height: 0
  color: red
  transform: translateY(-40px)
