$pure-black: #000000
$black: #28292B
$pure-white: #ffffff
$white: #F5F5F5

*, html, body
  padding: 0
  margin: 0

html
  background: $black
  color: $pure-white
  padding: 10px

  body
    position: relative

// ----------------------------------------------------------------------------

@import "bvg"
@import "weather"
@import "news"
