// TODO: Scope
ul.items

// TODO: dedup with bvg

.item-enter
  opacity: 0.01

.item-enter.item-enter-active
  opacity: 1
  transition: opacity 500ms ease-in

.item-leave
  opacity: 1

.item-leave.item-leave-active
  opacity: 0.01
  transition: all 200ms ease-out
  height: 0
  transform: translateY(-40px)
